[submodule "Dependencies/Cala"]
	path = Dependencies/Cala
	url = https://github.com/dominikcondric/Cala.git
[submodule "Dependencies/OBJLoader"]
	path = Dependencies/OBJLoader
	url = https://github.com/Bly7/OBJ-Loader.git
